/*!
Theme Name: Rock Agency
Author:Sagar Saunshi
Author URI:http://www.sagarsaunshi.com
Version:1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Description: The Rock Agency theme for WordPress is a custom theme build for the Web Test Project.
*/
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #section-one {
    width: 90% !important;
    margin: 0 auto;
    text-align: center; }
  .container {
    padding: 30px 0 0 0 !important; }
  .container h1 {
    font-size: 30px !important;
    color: #D34C34;
    line-height: 40px !important; }
  #section-two {
    width: 100%;
    margin-top: 70px;
    background-color: #D34C34; }
  .container-one {
    text-align: center;
    width: 90% !important;
    margin: 0 auto;
    padding: 20px 0;
    line-height: 20px;
    font-weight: 200;
    font-size: 20px; }
  #section-three {
    width: 90% !important;
    margin: 0 auto;
    text-align: center; }
  .left-container {
    width: 100% !important; }
  .right-container {
    width: 100% !important; }
  .left-container h2, .right-container h2 {
    font-size: 25px;
    color: #8EC6CA;
    margin: 65px 0 30px 0; }
  #section-four {
    width: 100%;
    margin-top: 70px; }
  #section-five {
    width: 100%;
    margin-top: 70px; }
  #images {
    float: left; }
  #images img {
    width: 100% !important;
    margin-top: -5px; }
  .button-five {
    color: white !important;
    background-color: #8EC6CA !important; }
  .five-img {
    margin: 50px 0 0 0 !important;
    width: 200px;
    height: 200px;
    border-radius: 50%; }
  .left-container h2, .right-container h2 {
    font-size: 25px;
    color: #8EC6CA;
    margin: 30px 0 30px 0 !important; }
  .button {
    margin-top: 40px !important;
    margin-bottom: 40px !important; }
  #section-six {
    width: 100%;
    margin-top: 70px;
    background-color: #E8F4F4; }
  .container-six {
    width: 90% !important; }
  .recipe-info {
    text-align: center !important;
    width: 100% !important; }
  .recipe-img {
    width: 100% !important; }
  .recipe-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%; }
  .recipe-button {
    margin: 0 auto; }
  #section-seven {
    width: 100%;
    margin: 0 auto; }
  .container-seven {
    height: 500px;
    background: url("assets/images/footer-image.jpg") no-repeat;
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center; }
  #seven-info {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    margin-left: auto;
    margin-right: auto; }
  #seven-info > h1 {
    font-size: 40px;
    color: white; }
  #header-image {
    text-align: center; }
  #img-footer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin-left: auto;
    margin-right: auto; }
  #footer {
    text-align: center;
    padding: 20px 0; }
  #footer > ul > li {
    display: inline;
    padding: 20px 0; } }

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #section-one {
    width: 90% !important;
    margin: 0 auto;
    text-align: center; }
  .container {
    padding: 30px 0 0 0 !important; }
  .container h1 {
    font-size: 30px !important;
    color: #D34C34;
    line-height: 40px !important; }
  #section-two {
    width: 100%;
    margin-top: 70px;
    background-color: #D34C34; }
  .container-one {
    text-align: center;
    width: 90% !important;
    margin: 0 auto;
    padding: 20px 0;
    line-height: 20px;
    font-weight: 200;
    font-size: 20px; }
  #section-three {
    width: 90% !important;
    margin: 0 auto;
    text-align: center; }
  .left-container {
    width: 100% !important; }
  .right-container {
    width: 100% !important; }
  .left-container h2, .right-container h2 {
    font-size: 25px;
    color: #8EC6CA;
    margin: 65px 0 30px 0; }
  #section-four {
    width: 100%;
    margin-top: 70px; }
  #section-five {
    width: 100%;
    margin-top: 70px; }
  #images {
    float: left; }
  #images img {
    width: 50% !important;
    margin-top: -5px; }
  .button-five {
    color: white !important;
    background-color: #8EC6CA !important; }
  .five-img {
    margin: 50px 0 0 0 !important;
    width: 200px;
    height: 200px;
    border-radius: 50%; }
  .left-container h2, .right-container h2 {
    font-size: 25px;
    color: #8EC6CA;
    margin: 30px 0 30px 0 !important; }
  .button {
    margin-top: 40px !important;
    margin-bottom: 40px !important; }
  #section-six {
    width: 100%;
    margin-top: 70px;
    background-color: #E8F4F4; }
  .container-six {
    width: 90% !important; }
  .recipe-info {
    text-align: center !important;
    width: 100% !important; }
  .recipe-img {
    width: 100% !important; }
  .recipe-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%; }
  .recipe-button {
    margin: 0 auto; }
  #section-seven {
    width: 100%;
    margin: 0 auto; }
  .container-seven {
    height: 500px;
    background: url("assets/images/footer-image.jpg") no-repeat;
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center; }
  #seven-info {
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    margin-left: auto;
    margin-right: auto; }
  #seven-info > h1 {
    font-size: 40px;
    color: white; }
  #header-image {
    text-align: center; }
  #img-footer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    margin-left: auto;
    margin-right: auto; }
  #footer {
    text-align: center;
    padding: 20px 0; }
  #footer > ul > li {
    display: inline;
    padding: 20px 0; } }

* html .group {
  /* IE6 */
  height: 1%; }

*:first-child + html .group {
  /* IE7 */
  min-height: 1px; }

img.centered, .aligncenter, div.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.alignright {
  float: right; }

.alignleft {
  float: left; }

.group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.wp-caption {
  border: 1px solid #ddd;
  text-align: center;
  background-color: #d4d4d4;
  padding-top: 4px;
  margin: 10px; }

.wp-caption img {
  margin: 0;
  padding: 0;
  border: 0 none; }

.wp-caption p.wp-caption-text {
  font-size: 0.85em;
  line-height: 1.214em;
  padding: 0 4px 5px;
  margin: 0; }

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: myFirstFont;
  src: url("assets/font/Achille FY W01 Black.ttf"); }

html, body {
  width: 100%;
  font-family: Helvetica, sans-serif; }

#header {
  height: 400px;
  width: 100%;
  background: url("assets/images/header-image.jpg") no-repeat;
  position: relative; }

#header-image {
  text-align: center; }

#img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 25%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1; }

#section-one {
  width: 70%;
  margin: 0 auto;
  text-align: center; }

.container {
  padding: 30px 0 0 0 !important; }

.container h1 {
  font-size: 30px !important;
  color: #D34C34;
  line-height: 50px; }

.one {
  margin-top: 40px;
  font-size: 16px;
  line-height: 20px; }

.two {
  font-size: 14px;
  line-height: 20px; }

.button {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #D34C34;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px; }

.button-one p {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: white;
  background-color: #8EC6CA !important;
  border-radius: 5px; }

#section-two {
  width: 100%;
  margin-top: 70px;
  background-color: #D34C34; }

.container-one {
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  line-height: 20px;
  font-weight: 200;
  font-size: 20px; }

#section-three {
  width: 70%;
  margin: 0 auto;
  text-align: center; }

.left-container {
  width: 50%; }

.right-container {
  width: 50%; }

.left-container h2, .right-container h2 {
  font-size: 25px;
  color: #8EC6CA;
  margin: 65px 0 30px 0; }

#section-four {
  width: 100%;
  margin: 50px 0 0px 0; }

#images > div > img {
  width: 25%;
  float: left; }

#section-five {
  width: 70%;
  margin: 0 auto;
  text-align: center; }

.button-five {
  color: white !important;
  background-color: #8EC6CA !important; }

.five-img {
  margin: 70px 0 0 0;
  width: 200px;
  height: 200px;
  border-radius: 50%; }

#section-six {
  padding: 20px 0;
  width: 100%;
  background-color: #E8F4F4; }

.container-six {
  width: 65%;
  margin: 0 auto; }

.container-six {
  text-align: center; }

.container-six > p {
  margin: 40px 0 0 0; }

.recipes {
  background-color: white;
  width: 100%;
  padding: 20px 0;
  margin: 20px 0;
  border-radius: 10px; }

.recipe-img {
  width: 25%; }

.recipe-img img {
  width: 150px;
  height: 150px;
  border-radius: 50%; }

.recipe-info {
  width: 75%;
  text-align: left; }

.recipe-info > h3 {
  font-size: 20px; }

.recipe-info > p {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500; }

.recipe-button {
  margin-top: 30px;
  width: 230px;
  text-align: center; }

.recipe-button-one {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  color: white;
  background-color: #8EC6CA !important;
  border-radius: 5px; }

#section-seven {
  width: 100%;
  margin: 0 auto; }

.container-seven {
  height: 500px;
  background: url("assets/images/footer-image.jpg") no-repeat;
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: center; }

#seven-info {
  position: absolute;
  left: 0;
  right: 0;
  top: 60%;
  margin-left: auto;
  margin-right: auto; }

#seven-info > h1 {
  font-size: 40px;
  color: white; }

#header-image {
  text-align: center; }

#img-footer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  right: 0;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  z-index: 1; }

.scroll-up {
  position: fixed;
  bottom: 10%;
  right: 5%;
  display: none; }

.scroll-up p {
  padding: 10px;
  background: #D34C34;
  color: white;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px; }

#footer {
  text-align: center;
  padding: 20px 0; }

#footer > ul > li {
  display: inline;
  padding: 20px 0; }
