/*!
Theme Name: Rock Agency
Author:Sagar Saunshi
Author URI:http://www.sagarsaunshi.com
Version:1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Description: The Rock Agency theme for WordPress is a custom theme build for the Web Test Project.
*/
// styles.scss
@import "_partials/mobile";
@import "_partials/tablet";
@import "_partials/ie";
@import "_partials/master";
@import "_partials/variables";
@import "vendor/reset";

@font-face {
    font-family: myFirstFont;
    src: url('assets/font/Achille FY W01 Black.ttf');
}

html,body{
    width: 100%;
    font-family: Helvetica, sans-serif;
}
#header{
    height: 400px;
    width: 100%;
    background: url('assets/images/header-image.jpg') no-repeat ;
    position: relative;
}
#header-image{
    text-align: center;
}
#img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 0;
	right: 0;
	top: 25%;
	margin-left: auto;
 	margin-right: auto;
    z-index: 1;
}

#section-one{
    width: 70%;
    margin: 0 auto;
    text-align: $text-center;
}
.container{
    padding: $padding-top-bottom;    
}
.container h1{
    font-size: $font-height;
    color: #D34C34;
    line-height: 50px;
}
.one{
    margin-top: 40px;
    font-size: 16px;
    line-height: 20px;
}
.two{
    font-size: 14px;
    line-height: 20px;
}
.button{
    margin-top: 60px;
     margin-bottom: 60px;
    background-color:#D34C34;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}
.button-one p{
     padding-top:10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: white;
    background-color:  #8EC6CA !important;
    border-radius: 5px;
}
#section-two{
     width: 100%;
     margin-top: 70px;
    background-color: #D34C34;
}
.container-one{
    text-align: $text-center;
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
    line-height: 20px;
    font-weight: 200;
    font-size: 20px;
}
#section-three{
     width: 70%;
    margin: 0 auto;
    text-align: $text-center;
}
.left-container{
    width: 50%;
}
.right-container{
    width: 50%;
}
.left-container h2 , .right-container h2{
    font-size: 25px;
    color: #8EC6CA;
    margin: 65px 0 30px 0;
}
#section-four{
    width: 100%;
    margin: 50px 0 0px 0; ;
}
#images > div > img{
    width: 25%;
    float: left;
}
#section-five{
    width: 70%;
    margin: 0 auto;
    text-align: $text-center; 
}
.button-five{
    color:white !important;
    background-color: #8EC6CA !important;
}
.five-img{
    margin: 70px 0 0 0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
#section-six{
    padding: 20px 0;
    width: 100%;
    background-color: #E8F4F4;
}
.container-six{
    width: 65%;
    margin: 0 auto;
   
}
.container-six{
     text-align: $text-center;
}
.container-six > p{
    margin: 40px 0 0 0;
}
.recipes{
    background-color: white;
    width: 100%;
    padding: 20px 0;
    margin: 20px 0;
    border-radius: 10px;
}
.recipe-img{
    width: 25%;
}
.recipe-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.recipe-info{
    width: 75%;
    text-align: left ;
}
.recipe-info>h3{
    font-size: 20px;
}
.recipe-info>p{
     margin-top: 20px;
    font-size: 15px;
    font-weight: 500;
}
.recipe-button{
    margin-top: 30px;
    width: 230px;
    text-align: center;
}
.recipe-button-one{
     padding-top:10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: white;
    background-color:  #8EC6CA !important;
    border-radius: 5px;
}
#section-seven{
    width:100%;
    margin: 0 auto;
}
.container-seven{
    height: 500px;
    background: url('assets/images/footer-image.jpg') no-repeat ;
    position: relative;
    width: 100%;
    margin:0 auto;
    text-align: $text-center;
}
#seven-info{
    position: absolute;
    left: 0;
	right: 0;
	top: 60%;
    margin-left: auto;
 	margin-right: auto;
}
#seven-info>h1{
    font-size: 40px;
    color:white;
}
#header-image{
    text-align:  $text-center;
}
#img-footer{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 0;
	right: 0;
	top: 10%;
	margin-left: auto;
 	margin-right: auto;
    z-index: 1;
}
.scroll-up{
    position: fixed;
    bottom: 10%;
    right: 5%;
    display: none;
}
.scroll-up p{
    padding: 10px;
    background: #D34C34;
    color: white;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
}
#footer{
    text-align:  $text-center;
     padding: 20px 0;
}
#footer > ul > li{
    display: inline;
    padding: 20px 0;
}


