@media only screen and (min-width : 320px) and (max-width : 767px) {

@import "_partials/variables";
   
#section-one{
    width: 90% $important;
    margin: 0 auto;
    text-align: $text-center;
}
.container{
    padding: $padding-top-bottom;
}
.container h1{
    font-size: $font-height;
    color: #D34C34;
    line-height: 40px $important;
    
}
#section-two{
     width: 100%;
     margin-top: 70px;
    background-color: #D34C34;
}
.container-one{
    text-align: $text-center;
    width: 90% $important;
    margin: 0 auto;
    padding: 20px 0;
    line-height: 20px;
    font-weight: 200;
    font-size: 20px;
}
#section-three{
     width: 90% $important;
    margin: 0 auto;
    text-align: $text-center;
    
}
.left-container{
    width: 100% $important;
}
.right-container{
    width: 100% $important;
}
.left-container h2 , .right-container h2{
    font-size: 25px;
    color: #8EC6CA;
    margin: 65px 0 30px 0;
}
#section-four{
    width:100%;
    margin-top: 70px;
}
#section-five{
    width:100%;
    margin-top: 70px;
} 
#images{
    float: left;
}
#images img{
    width: 100% $important;
    margin-top: -5px;
}

.button-five{
    color:white $important;
    background-color: #8EC6CA $important;
}
.five-img{
    margin: 50px 0 0 0 $important;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.left-container h2 , .right-container h2{
    font-size: 25px;
    color: #8EC6CA;
    margin: 30px 0 30px 0 $important;
}
.button{
      margin-top: 40px $important;   
     margin-bottom: 40px $important;
}
#section-six{
    width:100%;
    margin-top: 70px;
    background-color: #E8F4F4;
}
.container-six{
    width: 90% $important;
}
.recipe-info{
    text-align: center $important;   
    width: 100% $important;
}

.recipe-img{
    width: 100% $important;
   
}
.recipe-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.recipe-button{
    margin: 0 auto;
}

#section-seven{
    width:100%;
    margin: 0 auto;
}
.container-seven{
    height: 500px;
    background: url('assets/images/footer-image.jpg') no-repeat ;
    position: relative;
    width: 100%;
    margin:0 auto;
    text-align: $text-center;
}
#seven-info{
    position: absolute;
    left: 0;
	right: 0;
	top: 60%;
    margin-left: auto;
 	margin-right: auto;
}
#seven-info>h1{
    font-size: 40px;
    color:white;
}
#header-image{
    text-align:  $text-center;
}
#img-footer{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 0;
	right: 0;
	top: 10%;
	margin-left: auto;
 	margin-right: auto;
}


#footer{
    text-align:  $text-center;
     padding: 20px 0;
}
#footer > ul > li{
    display: inline;
    padding: 20px 0;
}
}