//variables
$padding-top-bottom : 50px 0 0 0;
$text-center: center;
$font-height:50px;
$padding-top-bottom : 30px 0 0 0 !important;
$text-center: center;
$font-height:30px !important;
$important:!important;